CONFIG_COMCERTO_ULOADER=y
CONFIG_M86297=y
# CONFIG_CMD_ARM_CPUINFO is not set
# CONFIG_ARM_EXCEPTIONS is not set
CONFIG_LOCALVERSION_AUTO_GIT_TAG_GLOB="gfiber*"
CONFIG_TEXT_BASE=0x83000000
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_STACK_BASE=0x8300c000
CONFIG_STACK_SIZE=0x1000
CONFIG_MALLOC_BASE=0x8300D000
CONFIG_MALLOC_SIZE=0x2C00
CONFIG_EXPERIMENTAL=y
CONFIG_PROMPT="uLoader >"
CONFIG_SHELL_NONE=y
CONFIG_MEM_SIZE=y
# CONFIG_TIMESTAMP is not set
# CONFIG_DEFAULT_ENVIRONMENT is not set
# CONFIG_SPI is not set
# CONFIG_OTP is not set
CONFIG_DRIVER_OTP=y
# CONFIG_FS_RAMFS is not set
# CONFIG_FS_DEVFS is not set
CONFIG_DIGEST=y
CONFIG_SHA1=y
CONFIG_AUTH=y
CONFIG_RSA_VERIFY=y
