CONFIG_COMCERTO_BOOTLOADER=y
CONFIG_TEXT_BASE=0x1000000
CONFIG_MEMORY_LAYOUT_FIXED=y
CONFIG_STACK_BASE=0x05000000
CONFIG_MALLOC_BASE=0x05008000
CONFIG_MALLOC_SIZE=0x0AFF8000
CONFIG_EXPERIMENTAL=y
CONFIG_PROMPT="Barebox-SC >"
CONFIG_LONGHELP=y
CONFIG_GLOB=y
CONFIG_HUSH_GETOPT=y
CONFIG_CMDLINE_EDITING=y
CONFIG_AUTO_COMPLETE=y
CONFIG_MEM_SIZE=y
CONFIG_PARTITION=y
CONFIG_DEFAULT_ENVIRONMENT_PATH="arch/arm/boards/optimus/env_spacecast"
CONFIG_ANTIREBOOTLOOP=y
CONFIG_CMD_EDIT=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_LOADENV=y
CONFIG_CMD_EXPORT=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_HNVRAM=y
CONFIG_CMD_READLINE=y
# CONFIG_CMD_UPDATE_FAST_SPI is not set
CONFIG_CMD_LOADB=y
CONFIG_CMD_LOADY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_CRC=y
CONFIG_CMD_CRC_CMP=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_BOOTM_SHOW_TYPE=y
CONFIG_CMD_RESET=y
CONFIG_CMD_GO=y
CONFIG_CMD_OTP_KEY=y
CONFIG_CMD_OTP_STABILITY_TEST=y
CONFIG_CMD_TIMEOUT=y
CONFIG_CMD_PARTITION=y
CONFIG_CMD_I2C=y
CONFIG_NET=y
CONFIG_NET_DHCP=y
CONFIG_NET_PING=y
CONFIG_NET_TFTP=y
CONFIG_NET_TFTP_PUSH=y
CONFIG_NET_COMCERTO=y
CONFIG_NET_COMCERTO_2000=y
CONFIG_I2C=y
CONFIG_I2C_C2K=y
CONFIG_DRIVER_CFI=y
CONFIG_CFI_BUFFER_WRITE=y
CONFIG_MTD=y
CONFIG_UBI=y
CONFIG_DRIVER_OTP=y
CONFIG_FS_CRAMFS=y
CONFIG_DIGEST=y
CONFIG_SHA1=y
CONFIG_AUTH=y
CONFIG_RSA_VERIFY=y
