config ZLIB
	bool

config BZLIB
	bool

config CRC32
	bool

config CRC16
	bool

menuconfig DIGEST
	bool "Digest                        "

if DIGEST

config MD5
	bool "MD5"

config SHA1
	bool "SHA1"

config SHA256
	bool "SHA256"

endif

menuconfig AUTH
	bool "Authentication                "

if AUTH

config RSA_VERIFY
	bool "RSA_VERIFY"

choice
	prompt "Select the RSA key set"
	default RSA_KEY_SET_DEFAULT

config RSA_KEY_SET_DEFAULT
	bool "Default keys"

config RSA_KEY_SET_SPACECAST_PVT
	bool "SpaceCast PVT keys"

endchoice

endif

config GENERIC_FIND_NEXT_BIT
	def_bool n

config PROCESS_ESCAPE_SEQUENCE
	def_bool n

source lib/lzo/Kconfig

